
{% autoescape off %}
Bonjour,

Vous avez demandé la réinitialisation de votre mot de passe pour votre compte 
sur le Système de Gestion UJEPH.

Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur : {{ user.get_username }}

Si vous n'avez pas fait cette demande, vous pouvez ignorer cet email.

Cordialement,
L'équipe du Système de Gestion UJEPH
{% endautoescape %}